/*
Errno::ENOENT: No such file or directory - app/assets/stylesheets/s/home.css.scss

Backtrace:
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:339:in `read'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `each'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:235:in `watch'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/plugin.rb:107:in `method_missing'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/exec.rb:445:in `watch_or_update'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/exec.rb:307:in `process_result'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/exec.rb:41:in `parse'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/exec.rb:21:in `parse!'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/bin/sass:9:in `<top (required)>'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/bin/sass:19:in `load'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/bin/sass:19:in `<main>'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `eval'
/home/veontomo/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - app/assets/stylesheets/s/home.css.scss"; }
