<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Caro <%= @order.name%></h1>
		<p>Il tuo ordine e' stato ricevuto. Puoi controllare il proseguimento.</p>
	<h2>Riepilogo dell'ordine</h2>
		<p>Prezzo: <%= sprintf("%02.2f €", @order.price)%></p>
		<p>Data e ora di consegna: <%= @order.time.strftime("%H:%M %m-%d-%Y")%></p>
		<ol>
			<% @content.each{|item|}%>
		</ol>

    <p>Grazie e a presto!</p>
    <p>Personale di Spizzicaluna</p>
  </body>
</html>