<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Caro <%= @order.name %></h1>
    <p>
      Il tuo ordine e' stato ricevuto e in breve sara' elaborato.<br/>
    </p>
    <p>Grazie e a presto!</p>
  </body>
</html>