%article
  .content
    %p
      Il 25 Novembre in via Goffredo Mameli è stato inaugurato il primo Beershop di Frascati e dintorni. Con una geniale intuizione, Spizzicaluna Brewing si getta a capofitto nell’enorme mercato delle birre artigianali e nell’arte dell’home brewing, divenendo subito conosciuto sul panorama dei Castelli grazie alla sua  vastissima offerta di prodotti sempre nuovi e particolari, e grazie alla dovizia e alla professionalità di Tommaso, appassionato di brewing, e della sua famiglia che lo affianca nell’organizzazione e nella gestione del locale, creando così una lingua di continuità con Spizzicaluna la paninoteca. Venite a trovarci e probabilmente troverete Tommaso intento a preparare una sua nuova birra tutta speciale, spiegando agli astanti le fasi della preparazione, oppure a consigliare il giusto abbinamento tra una birra ed uno dei nostri salumi e formaggi da degustare presso Spizzicaluna Brewing.
    %p
      Puoi inoltre trovare abbigliamento, gadget, bicchieri e tutto l’occorrente per preparare la birra a casa tua (malti, luppoli, attrezzature etc..), oltre ad una vastissima gamma di qualità e tipologie diverse di birre da tutto il mondo.
    %p
      Vi aspettiamo per un emozionante viaggio nel gusto!