%article
  Se volete prenotare un tavolo, chiamateci! Saremo lieti di trovarvi il posto!
  <br/>
  I numeri di telefono potete facilmente trovare sulla pagina
  %span{:class => "contacts"}
    =link_to "Contatti", {:controller => "home", :action => "contacts_one"}
  \.