%p
  Stiamo nella zona centralissima di Frascati, in via
  %b Cernaia, 33.
%p
  Siamo aperti tutti i giorni dalle ore 10:00 alle 15:00 e dalle 17:30 e alle 3:00 a parte di
  domenica mattina (che siamo chiusi per dormire) e giovedì (che è l'unico giorno di riposo settimanale).
%br
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Via+Cernaia,+33+Frascati,+Roma&amp;aq=t&amp;sll=41.908557,12.535998&amp;sspn=0.297918,0.582962&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Cernaia,+33,+Frascati,+Roma,+Lazio,+Italy&amp;mrt=rblall&amp;t=m&amp;ll=41.809303,12.680284&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>
%p
  Per qualsiasi informazione non dubitate a chiamarci:
%table
  %tr
    %td
      =image_tag 'persons/guido.jpg', :alt => 'Guido'
      %br
      Guido
      %br
      335 7615524
    %td
      =image_tag 'persons/matteo.jpg', :alt => 'Matteo'
      %br
      Matteo
      %br
      339 4559670
