%p
  Stiamo nella zona centralissima di Frascati, in via
  %b Cernaia, 33.
%p
  Siamo aperti tutti i giorni dalle ore 10:00 alle 15:00 e dalle 17:30 e alle 3:00 a parte di
  domenica mattina (che siamo chiusi per dormire) e giovedì (che è l'unico giorno di riposo settimanale).
%br
%iframe{:width=>"425", :height=>"350", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"https://maps.google.com/maps/ms?msa=0&amp;msid=212263591801850493476.0004ddde7407722e6017b&amp;hl=en&amp;ie=UTF8&amp;ll=41.809244,12.680238&amp;spn=0.000117,0.000091&amp;t=m&amp;output=embed"}
%p
  Per qualsiasi informazione non dubitate a chiamarci:
%table
  %tr
    %td
      =image_tag 'persons/guido.jpg', :alt => 'Guido'
      %br
      Guido
      %br
      335 7615524
    %td
      =image_tag 'persons/matteo.jpg', :alt => 'Matteo'
      %br
      Matteo
      %br
      339 4559670
