.dashboard
  Servizio di consegna a domicilio è alla vostra disposizione dalle ore 17:00 alle ore 22:00.

  Zone servite sono nel raggio di 10 km dal nostro locale e includono
  %ul
    %li
      Frascati
    %li
      Grottaferrata
    %li
      Monte Porzio
  .message
    La pagina è nella fase di sviluppo e per gli ordini e commenti vi chiediamo di telefonarci ai numeri che
    potete trovare
    = link_to "qua", {:controller => "home", :action => "contacts_one"}

