- javascript_include_tag 'jquery.tn3lite.min.js'
.gallery
  - images = Dir.glob('app/assets/images/locale/thumbs/*.jpg')
  - images.each do |image|
    =image_tag "locale/thumbs/" + File.basename(image), :class => "gallery_preview_photo"
