- javascript_include_tag 'jquery.tn3lite.min.js'
- javascript_include_tag 'tn3_initialize.js'
.gallery
  %p
    Eccoci delle foto del nostro locale:
  .mygallery
    .tn3.album
      %h4
        Spizzicaluna Birreria
      .tn3.description
        Alcune nostre foto
      .tn3.thumb
        Piccole foto
      %ol
        - @images.each do |image|
          %li
            %h4
              = File.basename(image)
            .tn3.description
              Brewing, Frascati
            - filename = File.basename(image)
            = link_to (image_tag "locale/brewing/thumbs/" + filename), image_path("locale/brewing/big/" + filename)


