=image_tag 'spizzicaluna_blue.jpg', :class=> 'landpage', :usemap=>"#distributor"

%map#distributor
  %area{:shape=>"poly", :coords=>"300,336,370,356,400,307,413,368,478,386,428,404,442,478,300,336", :href=> "one", :alt => "stella gialla"}
  %area{:shape=>"poly", :coords=>"296,644,370,639,376,580,410,632,478,628,436,662,476,725,400,680,348,732,375,679", :href=> 'open', :alt => "stella gialla"}
  %area{:shape=>"poly", :coords=>"114,372,154,400,194,370,180,411,220,444,164,442,146,500,133,456,85,454,125,418", :href => "brewing", :alt => "stella rossa"}

= #image_tag 'under_construction.png', :class => 'under_construction'
= #image_tag 'spizzicaluna_brewing.jpg', :class=>'card'
= #image_tag 'spizzicaluna_paninoteca.jpg', :class=>'card'
%br
-# %iframe{:width => "425", :height=>"350", :frameborder=>"0", :scrolling=>"no",:marginheight=>"0", :marginwidth=>"0",  :src=>"https://maps.google.com/maps/ms?msid=212263591801850493476.0004d80bef441764f0f53&msa=0&ie=UTF8&t=m&ll=41.80962,12.68002&spn=0.002427,0.004474&output=embed"}