=image_tag 'spizzicaluna_blue.jpg', :class=> 'landpage', :usemap=>"#distributor"

%map{:name => 'distributor'}
  %area{:shape=>"poly", :coords=>"446,185,482,196,500,167,507,202,536,204,708,204,708,258,536,258,523,263,491,225,45,242,472,214,446,185", :href=> "one", :alt => "stella gialla"}
  %area{:shape=>"poly", :coords=>"402,349,442,345,447,313,468,342,506,340,484,360,502,372,675,372,675,427,502,427,502,395,462,370,432,400,438,367,402,349", :href=> 'open', :alt => "stella verde"}
  %area{:shape=>"poly", :coords=>"252,178,274,191,296,176,290,197,310,216,280,214,270,248,262,222,245,224,245,268,72,267,72,214,242,214,252,178", :href => "brewing", :alt => "stella rossa"}

= #image_tag 'under_construction.png', :class => 'under_construction'
= #image_tag 'spizzicaluna_brewing.jpg', :class=>'card'
= #image_tag 'spizzicaluna_paninoteca.jpg', :class=>'card'
%br
-# %iframe{:width => "425", :height=>"350", :frameborder=>"0", :scrolling=>"no",:marginheight=>"0", :marginwidth=>"0",  :src=>"https://maps.google.com/maps/ms?msid=212263591801850493476.0004d80bef441764f0f53&msa=0&ie=UTF8&t=m&ll=41.80962,12.68002&spn=0.002427,0.004474&output=embed"}