=image_tag 'spizzicaluna_animation.gif', :class=> 'landpage', :usemap=>"#distributor"

%map{:name => 'distributor'}
  %area{:shape=>"poly", :coords=>"15,220,182,220,182,230,204,224,208,190,229,216,264,206,246,233,266,268,226,252,196,286,200,252,182,245,182,245,182,285,15,285,15,220", :href=> "brewing", :alt => "stella rossa"}
  %area{:shape=>"poly", :coords=>"336,461,375,457,393,417,401,448,448,448,422,466,542,466,542,535,409,535,410,523,383,501,345,526,363,484,336,461", :href=> 'open', :alt => "stella verde"}
  %area{:shape=>"poly", :coords=>"540,255,573,264,589,241,597,269,624,277,624,275,822,275,822,344,624,344,624,285,607,290,611,326,583,293,552,308,563,282,540,255", :href => "one", :alt => "stella gialla"}

%br