=image_tag 'spizzicaluna.jpg', :class=> 'landpage', :usemap=>"#distributor"

%map#distributor
  %area{:shape=>"poly", :coords=>"300,336,370,356,400,307,413,368,478,386,428,404,442,478,300,336", :href=> sandwiches_url, :alt => "stella gialla"}
  %area{:shape=>"poly", :coords=>"296,644,370,639,376,580,410,632,478,628,436,662,476,725,400,680,348,732,375,679", :href=> 'spizzicalunaone', :alt => "stella gialla"}
  %area{:shape=>"poly", :coords=>"114,372,154,400,194,370,180,411,220,444,164,442,146,500,133,456,85,454,125,418", :href => "red", :alt => "stella rossa"}