/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

$buttoncolor: blue;
$buttontextcolor: yellow;
$commentcolor: lighten( red, 10% );
;

.menu_button
{
	font-size: 110%;
	padding: 5px;
	background: lighten( $buttoncolor, 30% );
	color: $buttontextcolor;
}
a.menu_button:hover
{
	background: $buttoncolor
}

.comment
{
  color: $commentcolor;
}

.cell
{
  font: 95%;
}

.cart
{
  background-image: url('piatto.jpg');
  position: absolute;
  padding: 2px;
  top: 5em;
  right: 0px;
  width: 20%;
  border: 1px dashed yellow;
  color: white;
}
