/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
$colorblue: rgba(41,60,152,0.5);
$buttoncolor: darken($colorblue,5%);
$itemcell_bg: rgba(41,60,152,0.9);
$itemcell_bg_hover: rgba(41,60,152,0.95);

$buttoncolor_darker: darken($colorblue,10%);
$buttoncolor_legacy_browser: rgb(41,60,152);
$buttontextcolor: #f9ed37;
$button_text_color_on_hover: lighten($buttontextcolor, 20%);
$bordercolor: #f1da31;
$commentcolor: lighten(red, 10% );
$brand-color: #294294;
$sp-open-color: #13a64a;
$sp-one-color: rgb(249,157,41);
$sp-brewing-color: #d84229;
$sp-one-color-opaque: rgba(249,157,41,0.4);
$color-text: yellow;
$brand-color-light: lighten( $brand-color, 10% );
$brand-color-lighter: lighten( $brand-color, 20% );
$brand-color-lighter2: lighten( $brand-color, 30% );
$brand-color-dark: darken( $brand-color, 10% );
$brand-color-darker: darken( $brand-color, 20% );

body {
    background-color: $brand-color;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-shadow: 1px 1px 1px $brand-color-dark;
    padding: 0;
    margin: 0;
    border: 0px solid red;
}
.landpage
{
  margin: 0 auto;
  text-align: center;
}

.comment
{
  color: $commentcolor;
}

.cell
{
  font: 95%;
}

.cartframe
{
  float: right;
  padding: 2px;
  width: 15%;
  margin: 0;
  color: white;
}
.cart
{
    border: 1px dashed yellow;
}


.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.asc {
  margin: 10px;
  background-image: url('arrow_up.png');
}

.desc {
  margin: 10px;
  background-image: url('arrow_down.png');
}

.logo,.logo a img
{
  // position: absolute;
  // top: 0;
  // left:0;
  padding: 2px;
  margin: 0;
  text-decoration: none;
  width: 120px;
  float: left;
}

.star
{
  // padding-left: 0px;
  // padding-top: 10px;
  // position: absolute;
  // top: 0px;
  // left: 140px;
  // z-index: 1;
   width: 55px;
   float: left;
   z-index:10;
}
.star img
{
  width: 60px;
  overflow: visible;
  z-index: 100;
}

.login_logout
{
  display: block;
  padding: 10px;
}

.google_map{
 width: 425px;
 height: 350px;
 frameborder: 0;
 scrolling: false;
 marginheight: 0;
 marginwidth: 0;
}





p, ol, ul, td {
  font-size: 13px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $sp-one-color;
  &:visited {
    color: $color-text;
  }
  &:hover {
    font-size: 105%;
  }
}

div {
  &.field, &.actions {
    margin: 10px;
  }
}
.field_long{
    margin: 10px;
    width: 80%;
    padding: 20px;
    display: table;
  }

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.sidebar
{
  padding: 0px 5px 5px 5px;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  position: absolute;
  bottom: 30px;
  left: 0px;
}

.sidebar_open, .sidebar_brewing, .sidebar_one
{
  padding: 0px 5px 5px 5px;
  border-radius: 2px 2px 2px 2px;
}
.sidebar_open
{
  border: 2px $sp-open-color solid;
}
.sidebar_brewing{
  border: 2px $sp-brewing-color solid;
}
.sidebar_one{
  border: 2px $sp-one-color solid;
}
.sidebar_open, .sidebar_brewing, .sidebar_one
{
  border-top: none;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  position: relative;
  left: -10px;
}
a.sidebar_open, a.sidebar_brewing, a.sidebar_one
{
  color: $color-text;
  font-family: Groening,verdana,arial,helvetica,sans-serif;
  text-decoration:  none;
  font-size: 18px;
}
.sidebar_first_element
{
  // margin: 0px;
  width: 15px;
  display: inline;

}
.sidebar_image
{
  width: 20px;
}


.itemcell, .itemcell_show
{
  float: left;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  margin: 2px;
  padding: 5px;
}
.itemcell
{
  width: 29%;
  height: 200px;
  margin: 1%;

}
.itemcell_show
{
  width: auto;
  height: auto;
}

.itemcell, .itemcell_show
{
  background: $itemcell_bg;
  transition: background 0.5s ease;
  border: solid 1px $sp-one-color-opaque;
}
.itemcell_show:hover, .itemcell:hover
{
  background: darken($itemcell_bg,5%);
  transition: background 0.5s ease;
  box-shadow: 3px 1px 5px $sp-one-color-opaque;
}
.flagimage
{
  padding-right: 0px;
}
.right_column
{
  width: 140px;
  float: left;
}
.right_column_show
{
  width: auto;
  float: left;
}
.price
{
   font-size: 110%;
   transition: font-size 0.1s ease;
   display: block;
   float: right;
   height: 60px;
   width: 60px;
   line-height: 60px;
   -moz-border-radius: 50%;
   border-radius: 50%;
   background-color: $sp-one-color;
   text-align: center;
   box-shadow: 1px 1px 2px $brand-color-dark;
   position: absolute;
   right: -10px;
   bottom: -10px;
   z-index: 1;

}
.price:hover
{
  font-size: 125%;
  transition: font-size 0.1s ease;
}

.left_column, .item_image
{
  width: 50px;
  float: left;
  padding-right: 15px;
}

.item_image_show
{
  // width: 90px;
  float: left;
  padding-right: 15px;
}
#sp_bg_image
{
  position: absolute;
  width: 100%;
  min-height: auto;
  z-index: -1;
  opacity: 0.8;
}

.mainframe, .container_show
{
  padding: 20px auto;
  margin-top: 5%;
  display: table;
}
.mainframe
{
  background: url('sp.jpg') fixed;
  position: relative;
  width: 70%;
  margin-left: 120px;
}
.mainframe p
{
  color: $sp-one-color;
  font: 120%/140% Groening;
  text-align: justify;
  font-stretch: extra-expanded;

}

.mainframe p:first-letter
{
  font-size: 150%;
}


.container_show
{
  margin: 10px auto 0px 50px;
  width: 600px;
  display: table;
}

.item_image, .item_image_small
{
  height: auto;
}


.item_image:hover, .item_image_small:hover
{
  transform: scale(1.01);
  transition: scale 0.5s ease-in-out;
  border: none;
}


a.left_column img
{
  outline: none;
  text-decoration: none;
}
.right_column>p, .right_column_show>p
{
  line-height: 1.2;
  padding: 0px 0px 5px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dotted $sp-one-color-opaque;
  font-size: 120%;
}
.right_column_show > .itemnameview
{
  font-size: 120%;
  text-align: center;
  padding: 15px 0 5px 0;
}


.right_column>p:before
{
  content: "*";
}
.right_column p:first-child
{
  border: none;
}

.right_column p:first-child:before
{
  content: " ";
}
.itemnameview
{
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: bold;

}


.itemnameview a
{
  color: $color-text;
  text-decoration: none;
  &:visited{
    color: $color-text;
  }
  &:hover{
    color: $color-text;
    background: none;
  }
}

.to_busket_button{
   margin-top: 50px;
}

.to_basket_button a{
   border-top: 1px solid #96d1f8;
   background: white;
   padding: 2px 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration: none;
   white-space: nowrap;
   opacity: 0.8;
   transition: opacity 0.5s ease;
   color: $buttoncolor_legacy_browser;
   font-size: 15px;
   text-shadow: none;
   border: 1px solid gray;
   }
.to_basket_button a:hover {
  opacity: 1.0;
  transition: opacity 0.5s ease;
  border: 1px solid $buttoncolor;
}





.ingredient
{
  float: left;
  padding: 0 5px 0 0;

}

.imagefood
{
  clear: both;
}
.filename
{
  color: $commentcolor;
}

.haiku, .message, .warning {
      padding: 0 0;
      margin-left: 1em;
      font-family: "Times New Roman", Times, serif;
      }
.haiku,.warning
{
  font-size: 150%;
  display: inline-block;
}
.message{
  margin: 5% auto;
}
.message:before, .message:after
{
  content: open-quote;
  font-size: 500%;
  color: red;
}
.message:after
{
  content: close-quote;
}
.warning
{
  color: $commentcolor;
}
.item_image_show, .item_image_form
{
  float: left;
}

#beerInfo {
  padding: .5em;
  position: absolute;
  top: 5%;
}

.panelindex, .panelcontact
{
  margin-left: 1%;
  margin-right: 1%;
  display: table;
}
.panelcontact
{
  background: $itemcell_bg;
  margin: 2%;
  padding: 1%;
}


