/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
$colorblue: rgba(41,60,152,0.5);
$buttoncolor: darken($colorblue,10%);
$buttoncolor_legacy_browser: rgb(41,60,152);

$buttontextcolor: #f9ed37;
$button_text_color_on_hover: lighten($buttontextcolor, 20%);
$bordercolor: #f1da31;

$commentcolor: lighten( red, 10% );

.comment
{
  color: $commentcolor;
}

.cell
{
  font: 95%;
}

.cart
{
  position: absolute;
  padding: 2px;
  top: 5em;
  right: 0px;
  width: 20%;
  border: 1px dashed yellow;
  color: white;
}

.landpage
{
  margin: 0 auto;
}

.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.asc {
  margin: 10px;
  background-image: url('arrow_up.png');
}

.desc {
  margin: 10px;
  background-image: url('arrow_down.png');
}

.logo
{
  position: absolute;
  top: 0;
  left:0;
  padding: 10px;
  text-decoration: none;
  width: 120px;
}


.star
{
  padding-left: 0px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  left: 140px;
  z-index: 1;
  width: 55px;
}


.login_logout
{
  display: block;
  padding: 10px;
}

