// Place all the styles related to the Beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#close_button
{
  min-width: 10%;
  min-height: 10%;
  background-image: url('close_window.png');
  background-repeat: no-repeat;
}
