$colorblue: rgba(41,60,152,0.5);
$buttoncolor: darken($colorblue,5%);
$buttoncolor_darker: darken($colorblue,10%);
$buttoncolor_legacy_browser: rgb(41,60,152);
$buttontextcolor: #f9ed37;
$button_text_color_on_hover: lighten($buttontextcolor, 20%);
$bordercolor: #f1da31;
$commentcolor: lighten(red, 10% );
$brand-color: #294294;
$sp-open-color: #13a64a;
$sp-one-color: rgb(249,157,41);
$sp-brewing-color: #d84229;
$sp-one-color-opaque: rgba(249,157,41,0.4);
$color-text: yellow;
$brand-color-light: lighten( $brand-color, 10% );
$brand-color-lighter: lighten( $brand-color, 20% );
$brand-color-lighter2: lighten( $brand-color, 30% );
$brand-color-dark: darken( $brand-color, 10% );
$brand-color-darker: darken( $brand-color, 20% );


/* General menu styling */
@font-face{
  font-family: "curly letters";
  src: url("Groening.ttf");

}
nav
{
  display: table;
  padding: 0;
  margin: 0;
  z-index: 2;
  text-transform: uppercase;
}

nav>ul {

  font-family: "curly letters",verdana,arial,helvetica,sans-serif;
  padding: 0;
  z-index: 2;
  margin: 0;
  font-size: 120%;

}

  /* The main navigation link containers */
  nav>ul>li {
    display: block;
    float: left; /* Displaying them on the same line */
    margin: 0;
    padding: 0;
    margin-left: 0;
    border: 2px $sp-one-color solid;
    border-top: none;
    border-collapse: collapse;
    border-radius: 5%;
    width: auto;
    z-index: 2;

  }

    /* The main navigation links */
    nav>ul>li>a {
      /* Layout */
      display: block;
      position: relative;
      padding: 10px 5px;

      /* Text */
      color: $buttontextcolor;
      text-decoration: none;

      /* Background */
       background: $buttoncolor_legacy_browser; /* For older browsers */
       background: $buttoncolor_legacy_browser; /* Transparent background for modern browsers */

      /* Making the color to change on hover with a transition */
      -webkit-transition: color .3s ease-in;
      -moz-transition: color .3s ease-in;
      -o-transition: color .3s ease-in;
      -ms-transition: color .3s ease-in;
        z-index: 2;

    }

    /* Changing the color on hover */
  nav>ul>li>a:hover, nav>ul>li:hover>a {
    color: $button_text_color_on_hover;
    z-index: 2;
    }

/* The links which contain dropdowns menu are wider, because they have a little arrow */
nav>ul>.dropdown>a {
  padding: 10px 30px 10px 20px;
  z-index: 2;
}

/* The arrow indicating the dropdown */
.dropdown>a::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  z-index: 2;
}

/* Changing the color of the arrow on hover */
.dropdown>a:hover::after, .dropdown:hover>a::after {
  border-color: $bordercolor;
}

  /* The submenus */
nav>ul ul {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  background: $buttoncolor_legacy_browser; /* For older browsers */
  background: $buttoncolor_legacy_browser; /* Transparent background for modern browsers */
  z-index: 2;
}

  /* General layout settings for the link containers of the submenus */
nav>ul ul li {
  position: absolute;
  top: -9999px; /* Hiding them */
  height: 0px;
  display: block;
  margin: 0;
  padding: 0;

  /* Making them to expand their height with a transition, for a slide effect */
  -webkit-transition: height .2s ease-in;
  -moz-transition: height .2s ease-in;
  -o-transition: height .2s ease-in;
  -ms-transition: height .2s ease-in;
  background: $buttoncolor_legacy_browser; /* For older browsers */
  background: $buttoncolor_legacy_browser; /* Transparent nav>ul for modern browsers */
  z-index: 2;
}

    /* Displays the submenu links, by expading their containers (with a transition, previously defined) and by repositioning them */
.dropdown:hover>ul>li {
  height: 30px;
  position: relative;
  top: auto;
  z-index: 2;
}

/* The submenu links */
nav>ul ul li a {
  /* Layout */
  padding: 4px 20px;
  width: auto;
  display: block;
  position: relative;

  /* Text */
  // color: #bbb;
  text-decoration: none;
  // font-size: 16px;

  /* nav>ul & effects */
  // nav>ul: $buttoncolor_legacy_browser; /* For older browsers */
  // background: $buttoncolor; /* Transparent background for modern browsers */
  -webkit-transition: color .3s ease-in, background .3s ease-in;
  -moz-transition: color .3s ease-in, background .3s ease-in;
  -o-transition: color .3s ease-in, background .3s ease-in;
  -ms-transition: color .3s ease-in, background .3s ease-in;
}

/* Changing the link's color and background on hover */
nav>ul ul li:hover>a, nav>ul ul li a:hover {
  color: #f3da05;
  background: $buttoncolor_legacy_browser; /* For older browsers */
  background: $buttoncolor; /* Transparent background for modern browsers */
  z-index: 2;
}

/* Making the level 2 (or higher) submenus to appear at the right of their parent */
nav>ul ul .dropdown:hover ul {
  // left: 160px;
  top: 0px;
  z-index: 2;
}

/* The submenu links have a different arrow which indicates another dropdown submenu */
nav>ul ul .dropdown a::after{
  width: 6px;
  height: 6px;
  border-bottom: 0;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  top: 12px;
  z-index: 2;
}

/* Changing the color of the arrow on hover */
nav>ul ul .dropdown:hover>a::after, nav>ul ul .dropdown>a:hover::after {
  border-right: 1px solid #f3da05;
  border-top: 1px solid #f3da05;
  z-index: 2;
}
