$brand-color: #293c98;
$sp-open-color: #13a64a;
$sp-one-color: #f99d29;
$sp-brewing-color: #d84229;

$brand-color-light: lighten( $brand-color, 10% );
$brand-color-lighter: lighten( $brand-color, 20% );
$brand-color-lighter2: lighten( $brand-color, 30% );

$brand-color-dark: darken( $brand-color, 10% );
$brand-color-darker: darken( $brand-color, 20% );

body {
    background-color: $brand-color;
    color: white;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    // margin-left: 180px;
    margin-right: 20%;
    font-family: verdana, arial, helvetica, sans-serif;
    padding-left: 220px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin: 10px;
  }
}
div {
  &.field_long{
    margin: 10px;
    background-color: $brand-color-lighter2;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.sidebar
{
  // padding: 0px 5px 5px 5px;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  position: absolute;
  bottom: 30px;
  left: 0px;
  // font-size: 15px;
}
// .sidebar a
// {
  // color: white;
  // text-decoration:  none;
// }

.sidebar_open, .sidebar_brewing, .sidebar_open, .sidebar_one
{
  padding: 0px 5px 5px 5px;
  border-radius: 2px 2px 20px 20px;
}
.sidebar_open
{
  border: 2px $sp-open-color solid;
  border-top: none;
}
a.sidebar_open, a.sidebar_brewing, a.sidebar_one
{
  text-decoration:  none;
  font-size: 25px;
}
a.sidebar_open
{
  color: $sp-open-color;
}
.sidebar_brewing{
  border: 2px $sp-brewing-color solid;
  border-top: none;
}
.sidebar_one{
  border: 2px $sp-one-color solid;
  border-top: none;
}

a.sidebar_brewing
{
  color: $sp-brewing-color;
}
a.sidebar_one
{
  color: $sp-one-color;
}
.tab_star
{
  width: 20px;
  padding-right: 5px;
  // margin: 5px;
}
